<div class="container">
  <div class="jumbotron bg-white d-flex flex-column flex-md-row justify-content-center align-items-center">
      <img src="../../../assets/logo.png">
      <div class="text-center text-md-left">
        <h1 class="font-weight-normal">金傭菲印服務有限公司</h1>
        <p class="lead">Limastar Employment Agency</p>
        <a class="btn bg-transparent border-purple text-purple rounded" routerLink="helpers">Learn More</a>
      </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-4 text-center my-4 my-md-0">
      <h5 class="text-purple mb-3">僱主親臨挑選</h5>
      <p class="text-muted">
        海外家傭或預約<br>
        已在港現成女傭.
      </p>
    </div>

    <div class="col-md-4 text-center my-4 my-md-0">
      <h5 class="text-purple mb-3">本公司提供專業意見及分析</h5>
      <p class="text-muted">
        當僱主配對到合適人選後<br>
        即會辦理申請工作簽証文件.
      </p>
    </div>

    <div class="col-md-4 text-center my-4 my-md-0">
      <h5 class="text-purple mb-3">審批時間</h5>
      <p class="text-muted">
        菲傭到港大約10星期.<br>
        印傭到港大約12星期.
      </p>
    </div>
  </div>
</div>

<div id="spacer" class="py-5"></div>

<div class="container px-3 py-5">
  <h3 class="text-center">搜尋</h3>
  
</div>